:root {

    --clr-red: #D6120D;
    --clr-orange: #e14e09;
    --clr-bark-blue: #1C568E;

    --clr-medium-gray: #c7c7c7;
    --clr-medium-blue: #608ED1;

    --clr-light-gray: #e4e1e1;
    --clr-very-light-gray: #FAFAFA;

    --clr-very-dark-gray: #1E1E1E;
    --clr-very-bark-blue: #0c243b;
}

/*
// <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 100 to 900
*/
/*       my utilities     */
.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.bebas-neue {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-optical-sizing: none;
}

.teko {
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.dark-blue-bg {
    background-color: var(--clr-very-bark-blue);
}

.medium-gray-bg {
    background-color: var(--clr-medium-gray);
}


/******************************/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    background-color: var(--clr-red);
}

.nav-link {
    color: var(--clr-medium-gray);
    font-size: 1.1em;
    font-weight: 600;
    text-transform: uppercase;
}

.nav-link.active {
    color: var(--clr-very-light-gray);
}

.nav-link:hover {
    color: var(--clr-light-gray);
}

section {
    min-height: 100vh;
}

#welcome-section {
    display: grid;
    place-items: center;
    color: var(--clr-very-light-gray);
    background-color: var(--clr-very-dark-gray);
    background: radial-gradient(circle at 100% 0%, var(--clr-very-dark-gray), var(--clr-very-bark-blue) 65%, var(--clr-bark-blue) 85%, var(--clr-very-dark-gray) 85%);
}

.welcome-text>h1 {
    font-size: 3.5rem;
}

.welcome-subtitle {
    letter-spacing: 1px;
    font-weight: 300;
}

#projects {
    background-color: var(--clr-bark-blue);
    padding-block: 4.5rem;
}

#projects .content {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row dense;
}

.project-box {
    position: relative;
    width: 100%;
    overflow: hidden;
    aspect-ratio: 12/9;
    border-radius: .5rem;
}

.project-box.long {
    height: 100%;
    grid-row: 1 / 3;
}

.project-tile {
    position: absolute;
    left: 0;
    bottom: -.5rem;
    width: 100%;
    background: var(--clr-very-bark-blue);
}

.profile-link {
    display: inline-block;
    position: relative;
    letter-spacing: .51px;
    text-decoration: none;
    color: var(--clr-very-light-gray);
}

.profile-link::before,
.profile-link::after {
    position: absolute;
    top: 0;
    bottom: 0;
    vertical-align: middle;
    color: var(--clr-orange);
    font-family: "Bebas Neue", sans-serif;
}

.project-box:hover .profile-link::before {
    content: '<';
    left: -1.5ch;
}

.project-box:hover .profile-link::after {
    content: '/>';
    right: -3ch;
}

img {
    transition: scale .25s ease-in-out;
}

.project-box:hover img {
    scale: 1.1;
}

@media screen and (width <992px) {

    #projects .content {
        gap: 1.5rem;
        grid-template-columns: repeat(2, 1fr);
    }

    .h3, h3 {
        font-size: calc(1.1rem + .6vw);
    }
}

@media screen and (width <768px) {

    #projects .content {
        gap: 1rem;
        grid-template-columns: repeat(2, 1fr);
    }

    .h3, h3 {
        font-size: calc(.9rem + .6vw);
    }
}
@media screen and (width <576px) {

    #projects .content {
        grid-template-columns:1fr;
    }

    .h3, h3 {
        font-size: calc(1.1rem + .6vw);
    }
}
#media {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 4.5rem;
    color: var(--clr-very-light-gray);
    background-color: var(--clr-very-dark-gray);
    background: linear-gradient(var(--clr-very-bark-blue),
            var(--clr-very-dark-gray));

    #goodbye {
        font-size: calc(3rem + .6vw);
    }

    hr {
        width: 75%;
        margin: .5rem auto 3rem;
        height: 3px;
        border: var(--clr-very-light-gray) solid 1px;
        background-color: var(--clr-very-light-gray);
    }
}


.media-item {
    list-style: none;
}

.media-link {
    position: relative;
    font-size: calc(1rem + 1vw );
    letter-spacing: .75px;
    color: var(--clr-very-light-gray);
    text-decoration: none;
    transition: all 1s ease-in-out;
}

.media-link:hover {
    color: var(--clr-very-light-gray);
    top: 8px;
}

/*
.border,
..project-box {
    position: relative;
    padding: 2rem 3rem;
    border-radius: .75rem;
    z-index: 0;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.border {
    border: .5rem solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(90deg, hsl(308, 97%, 29%), hsl(217, 97%, 26%));
    border-radius: .5rem;
}

..project-box::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: hsla(0, 100%, 50%, 1);
    background-image:
        radial-gradient(at 45% 18%, hsla(28, 100%, 74%, 1) 0px, transparent 50%),
        radial-gradient(at 87% 10%, hsla(189, 100%, 56%, 1) 0px, transparent 50%),
        radial-gradient(at 69% 67%, hsla(340, 100%, 76%, 1) 0px, transparent 50%),
        radial-gradient(at 1% 99%, hsla(22, 100%, 77%, 1) 0px, transparent 50%),
        radial-gradient(at 77% 95%, hsla(242, 100%, 70%, 1) 0px, transparent 50%),
        radial-gradient(at 0% 0%, hsla(343, 100%, 76%, 1) 0px, transparent 50%);
    --background: linear-gradient(90deg, hsl(308, 97%, 29%), hsl(217, 97%, 26%));
    z-index: -2;
}

..project-box::after {
    content: '';
    position: absolute;
    top: .25rem;
    right: .25rem;
    bottom: .25rem;
    left: .25rem;
    opacity: 1;
    border-radius: .5rem;
    background-color: rgb(10, 10, 10);
    z-index: -1;
    transition-property: opacity, left, top;
    transition-duration: .5s, .5s, .5s;
    transition-timing-function: ease;
    transition-delay: 0s, .5s, 0s;
}

.card:hover::after {
    left: calc(100% - 1rem);
    top: calc(100% - 1rem);
    opacity: 0;
    transition-property: opacity, left, top;
    transition-duration: 0s, .5s, .5s;
    transition-timing-function: ease;
    transition-delay: 1s, .5s, 0s;
}

*/